---
layout: default
---

{% if paginator.previous_page %}
  {% include archive.html %}
  <ul>
    {% for post in paginator.posts %}
    <li>
      <article style="background-image: url('{{post.thumbnail}}');">
        <div>
          <h1>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
          <p>{{ post.date | date: "%-d %b, %Y" }}</o>
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
{% else %}
  {% include single.html %}
  <ul>
    {% for post in paginator.posts offset:1 %}
    <li>
      <article style="background-image: url('{{post.thumbnail}}');">
        <div>
          <h1>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
          <p>{{ post.date | date: "%-d %b, %Y" }}</o>
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
{% endif %}


<!-- Pagination links -->
<footer>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">&lt;</a>
  {% endif %}
  {% if paginator.total_pages > 1 %}
    <span class="page_number ">More Posts</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">&gt;</a>
  {% endif %}
</footer>