<header style="background-image:url('{{ post.image }}')">
  <div>
    <h1>{{ post.title }}</h1>
  </div>
</header>
<article>
  <h2>{{ post.excerpt }}</h2>
  {{ content }}

  <p>
    <a href="https://news.ycombinator.com/submitlink?u={{ post.url | prepend: site.url }}" target="_blank">Join the discussion in hacker news.</a>
  </p>
</article>

<aside class="author">
  <ul>
    <li><img src="/assets/authors/{{ post.author | slugify }}.jpg" alt="{{ post.author }}"></li>
    <li>Written by {{ post.author | author_links }}</li>
    <li>Posted {{ post.date | date: "%b %-d, %Y" }}</li>
  </ul>
</aside>

<aside class="sharing">
  <ul>
    <li>
      <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="{{ post.title }} - {{ site.title }}" data-url="{{ post.url | prepend: site.url }}" data-count="horizontal">Vote on Hacker News</a>
      <script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
    </li>
    <li>
      <a href="//www.reddit.com/submit?url={{ post.url | prepend: site.url }}" target="_blank"><img src="//www.redditstatic.com/spreddit7.gif" alt="submit to reddit" border="0" /></a>
    </li>
    <li>
      <a href="https://twitter.com/share" class="twitter-share-button"{count} data-count="horizontal" data-url="{{ post.url | prepend: site.url }}" data-text="{{ post.title }} - {{ site.title }}" data-via="Intent_HQ">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>
    <li>
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <div class="g-plus" data-annotation="bubble" data-href="{{ post.url | prepend: site.url }}" data-action="share"></div>
    </li>
    <li>
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share" data-url="{{ post.url | prepend: site.url }}" data-counter="right"></script>
    </li>
    <li>
      <div class="fb-share-button" data-href="{{ post.url | prepend: site.url }}" data-layout="button_count"></div>
    </li>
  </ul>


</aside>