@font-face {
    font-family: "whitneylight";
    src: url("/assets/font/whitney-light-bas-webfont.eot");
    src: url("/assets/font/whitney-light-bas-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/font/whitney-light-bas-webfont.woff2") format("woff2"), url("/assets/font/whitney-light-bas-webfont.woff") format("woff"), url("/assets/font/whitney-light-bas-webfont.ttf") format("truetype"), url("/assets/font/whitney-light-bas-webfont.svg#whitneylight") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face  {
    font-family: "whitneybold";
    src: url("/assets/font/whitney-medium-bas-webfont.eot");
    src: url("/assets/font/whitney-medium-bas-webfont.eot?#iefix") format("embedded-opentype"),url("/assets/font/whitney-medium-bas-webfont.woff2") format("woff2"),url("/assets/font/whitney-medium-bas-webfont.woff") format("woff"),url("/assets/font/whitney-medium-bas-webfont.ttf") format("truetype"),url("/assets/font/whitney-medium-bas-webfont.svg#whitneymedium") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family:"icons";
    src: url("/assets/font/icons.eot");
    src: url("/assets/font/icons.eot#iefix") format("embedded-opentype"), url("/assets/font/icons.woff") format("woff"),url("/assets/font/icons.ttf") format("truetype"),url("/assets/font/icons.svg#icons") format("svg");
    font-weight:normal;
    font-style:normal
}
